body {
  background: #1D0534;
}

.wrapper {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background: #1D0534;
  overflow: hidden;
}
.wrapper .ufo {
  display: block;
  width: 227px;
  height: 168px;
  margin: 0 auto;
  transform: translateY(-200px);
  animation: flying 10s cubic-bezier(0.165, 0.84, 0.44, 1) 3s infinite;
  z-index: 1;
  position: relative;
}
.wrapper .beam {
  display: block;
  margin: 0 auto;
  width: 263px;
  height: 252px;
  opacity: 0;
  transform: translateY(20px);
  animation: beam 10s cubic-bezier(0.455, 0.03, 0.515, 0.955) 5s infinite;
}
.wrapper .beam .beam-2 {
  opacity: 0;
  animation: spotlight 10s ease-in-out 5.3s infinite;
}
.wrapper .sheep {
  display: block;
  width: 120px;
  height: 162px;
  margin: 0 auto;
  transform: translateY(-100px) rotate(-12deg);
  animation: abduction 10s ease-in-out 5.8s infinite;
}
.wrapper a {
  color: #ffffff;
  font-family: sans-serif;
}

@keyframes flying {
  0% {
    transform: translateY(-200px);
  }
  20% {
    transform: translateY(70px);
  }
  60% {
    transform: translateY(70px);
  }
  80% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(-200px);
  }
}
@keyframes beam {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spotlight {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes abduction {
  0% {
    transform: translateY(-100px) rotate(-12deg);
    opacity: 1;
  }
  30% {
    transform: translateY(-200px) rotate(0);
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  56% {
    transform: translateY(-100px) rotate(-12deg);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
